# DEPRECATED:
# Usa /example.env en la raíz del monorepo para frontend + backend + db.

DB_URI=DB_URI
MYSQL_URI=MYSQL_URI
API_PORT=8080
DB_LOG_LEVEL=warn
DB_SLOW_SQL_MS=2000

# Credenciales Odoo
ODOO_URL=ODOO_URL
ODOO_DB=ODOO_DB
ODOO_USER=ODOO_USER
ODOO_PASSWORD=ODOO_PASSWORD

# Credenciales de notificaciones
NOTIFY_URL=https://noti.chinatownlogistic.com
NOTIFY_APIKEY=replace_with_notify_apikey
NOTIFY_NUMBER_URL=https://noti.chinatownlogistic.com
